.resume {
    min-height: 20rem;
}

.resumeTitle {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.experienceTitle, .educationTitle, .skillsTitle {
    font-size: 2rem;
    border-bottom: 1px black solid;
    padding-bottom: .5rem;
    display: flex;
}

.educationTitle, .skillsTitle {
    padding-top: .5rem;
}

.resumeDiv {
    display: grid;
}

svg.upChevron {
    rotate: 180deg;
}

svg.downChevron {
    display: flex;
    justify-content: flex-end;
}