.resume {
    min-height: 20rem;
}

.resumeTitle {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.experienceTitle, .educationTitle, .skillsTitle {
    font-size: 2rem;
    border-bottom: 1px black solid;
    padding-bottom: .5rem;
    display: flex;
}

.educationTitle, .skillsTitle {
    padding-top: 1.2rem;
}

.resumeDiv {
    display: grid;
}

svg.upChevron {
    rotate: 180deg;
}

.companyName {
    font-size: 1.5rem;
    padding: 1rem;
}

.merchManager, .seniorSpecialist, .operationsSpecialist, .coordinator {
    padding: 1rem;
    /* border-bottom: 2px black dotted; */
}

svg.upArrow {
    rotate: 180deg;
}

.educationItem {
    line-height: 2rem;
}

.myResume {
    text-align: right;
    padding-top: 2rem;
}

.myResume a {
    color: #000;
}