.about {
    height: 20rem;
}

#about {
    text-align: center;
}

.homeButtonUL {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.homeButton {
    padding: 1rem;
    font-size: 2rem;
    text-decoration: underline;
}