.header {
    padding: 1rem 2.5rem 2rem 2.5rem;
    border-bottom: 4px outset #0a3bb4;
    background-color: #061C51;
    height: 5rem;
    width: 100%
}

.logo {
    grid-area: logo;
    margin-top: -2.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    float: left;
}

.logo h1 {
    font-family: 'Merriweather', serif;
    font-size: 4rem;
    margin-bottom: -1.5rem;
    color: #678FF1;
    text-shadow: 3px 3px #0A3BB4;
}

.logo h4 {
    font-family: 'Merriweather', serif;
    color: #678FF1;
    font-size: 1rem;
}

.headernav a {
    color: #678FF1;
    padding-right: 2rem;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: transparent;
    padding: .45rem;
    display: inline-flex;
    font-size: 1.2rem;
}

.headernav {
    text-align: right;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    padding-right: 3rem;
}

@media all and (max-width: 840px) {
    .header {
            height: 8rem;
        }
    
    .headernav {
        float: none;
        padding-right: 0;
        justify-content: center;
        align-items: flex-start;

    }
    
    .headernav a {
        justify-content: center;
        align-items: flex-start;
    }

    .logo {
         float: none;
        align-items: center;
        margin-top: -2.75rem;
        }
}